.listed_sites, .add_feed_block{
    align: center;
    text-align: center;
}
.all_feeds_list{
    text-align: left;
    margin-left: 30%;
}
.single_feed{
    text-align: left;
}
.list_title, .add_feed_title{
    font-size: 20px;
    font-weight: bold;
}
.float_right{
    float: right;
}
.float_left{
    float: left;
}
.feed_title{
    font-size: 20px;
    font-weight: bold;
}
.all_feeds{
    font-size: 20px;
}
.flash_error{
    color: red;
}
.flash_success{
    color: green;
}
.margined_info{
    margin-top: 30px;
}
.margin_px{
    margin-left: 10px;
}
.padding_px{
    padding-left: 40px;
}
.indv_post_title{
    font-size: 30px;
}
.indv_post_time{
    font-size: 20px;
}
.indv_post_source{
    font-size: 20px;
}
.add_feed_link{
    margin-left: 40%;
}
.all_posts_link{
    margin-right: 40%;
}